<main class="container">
  <div class="row header-filme">
    <div class="col ">
      <h1>Campeonato de Filmes</h1>
      <h2>Resultado Final</h2>
      <hr>
      <p>Veja o resultado final do campeonato de filmes de forma simples e rápida</p>
    </div>
  </div>

  <div class="container">
    <div id="filmes" class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-4 filme" *ngFor="let movie of movies; let i = index">
            <p>{{i + 1}}º</p>
            <p>{{movie.primaryTitle}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>